# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
env/
venv/

# Editor
.vscode/
.idea/

# Byte-compiled / optimized
*.pyc
*.pyo

# Distribution
dist/
build/

# Tests
.pytest_cache/
PlamodelReleaseDate/resource/credential.json
/PlamodelReleaseDate/cache
/PlamodelReleaseDate/resource/settings.py
